/* You can add global styles to this file, and also import other style files */



table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

.container{

  margin-top: 30px;
}

.inputValues{

  border-bottom: 2px dotted black;
  padding: 5px;
}

.noAnim{

  margin-bottom: 20px;
}

.insert{
  background-color: orange;
  width: 90px;
  margin-left: 30px;
  border-radius: 3px;
}

.addAnimal{

  cursor: pointer;
}

.animName{

  cursor: pointer;
}

.updateBtn{

  background-color: orange;
  width: 90px;
  margin-left: 30px;
  border-radius: 3px;


}

.deleteBtn{

  background-color: orange;
  width: 90px;
  margin-left: 30px;
  border-radius: 3px;


}
body{
  background-color: lightgrey;
}
